Installation of Pyspark to run MapReduce

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pandas as pd
import numpy as np

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import Row
from pyspark.sql.types import StructField
from pyspark.sql.types import StructType
from pyspark.sql.types import StringType
#from pyspark.sql.types import VarcharType
# FloatType, DateType, DatetimeType

In [4]:
spark = SparkSession.builder.master("local[1]") \
    .appName("SparkByExamples.com").getOrCreate()

In [19]:
flightdata = pd.read_csv('/content/drive/MyDrive/flight data/flightsPro1.csv')

In [20]:
flightdata

     callsign number  ...       country_destination international
0       QFA64   QF64  ...                 Australia         False
1      LAN602  LA602  ...  United States of America         False
2      MAU440  MK440  ...                 Australia          True
3      KQA784    NaN  ...              South Africa          True
4         NaN    NaN  ...                    Brunei         False
...       ...    ...  ...                       ...           ...
5169      NaN    NaN  ...  United States of America         False
5170  SKW5869    NaN  ...  United States of America         False
5171   TLM230    NaN  ...                 Sri Lanka          True
5172  JBU2741    NaN  ...  United States of America         False
5173  UAL2420    NaN  ...                    Canada          True

[5174 rows x 18 columns]

In [21]:
columnsList = flightdata.columns

In [22]:
print(columnsList)

Index(['callsign', 'number', 'aircraft_uid', 'typecode', 'origin',
       'destination', 'firstseen', 'lastseen', 'day', 'latitude_1',
       'longitude_1', 'altitude_1', 'latitude_2', 'longitude_2', 'altitude_2',
       'country_origin', 'country_destination', 'international'],
      dtype='object')

In [23]:
data = flightdata[['callsign', 'number', 'aircraft_uid', 'typecode', 'origin',
       'destination', 'firstseen', 'lastseen', 'day', 'latitude_1', 'longitude_1',
        'latitude_2', 'altitude_1', 'longitude_2', 'altitude_2', 'country_origin',
         'country_destination', 'international']]

In [24]:
#df = spark.createDataFrame(data=data)
#df.show()

In [25]:
from datetime import datetime

In [26]:
from pyspark.serializers import CloudPickleSerializer

In [35]:
pd_df = pd.DataFrame(['callsign', 'number', 'aircraft_uid', 'typecode', 'origin',
       'destination', 'day', 'firstseen','lastseen','latitude_1', 'longitude_1','latitude_2', 'altitude_1',
        'longitude_2', 'altitude_2', 'country_origin',
         'country_destination', 'international'])
                     

df_schema = StructType([StructField("origin", StringType(), True)
                       ,StructField("callsign", StringType(), True)
                       ,StructField("number", StringType(), True)
                       ,StructField("aircraft_uid", StringType(), True)
                       ,StructField("typecode", StringType(), True)
                       ,StructField("origin", StringType(), True)
                       ,StructField("firstseen", StringType(), True)
                       ,StructField("lastseen", StringType(), True)
                       ,StructField("destination", StringType(), True)
                       ,StructField("day", DateType(), True)
                       ,StructField("latitude_1", FloatType(), True)
                       ,StructField("longitude_1", FloatType(), True)
                       ,StructField("latitude_2", FloatType(), True)
                       ,StructField("altitude_1", FloatType(), True)
                       ,StructField("longitude_2", FloatType(), True)
                       ,StructField("altitude_2", FloatType(), True)
                       ,StructField("country_origin", StringType(), True)
                       ,StructField("country_destination", StringType(), True)
                       ,StructField("international", BooleanType(), True)])

In [36]:
df_schema

StructType(List(StructField(origin,StringType,true),StructField(callsign,StringType,true),StructField(number,StringType,true),StructField(aircraft_uid,StringType,true),StructField(typecode,StringType,true),StructField(origin,StringType,true),StructField(destination,StringType,true),StructField(day,DateType,true),StructField(latitude_1,FloatType,true),StructField(longitude_1,FloatType,true),StructField(latitude_2,FloatType,true),StructField(altitude_1,FloatType,true),StructField(longitude_2,FloatType,true),StructField(altitude_2,FloatType,true),StructField(country_origin,StringType,true),StructField(country_destination,StringType,true),StructField(international,BooleanType,true)))

In [ ]:
df = spark.createDataFrame(pd_df, schema=df_schema)

In [ ]:
display(df)

In [ ]:
rddReduced = df.rdd.map(lambda a: (a.country_origin, a.day)).reduceByKey(lambda x,y : x + y).collectAsMap()

In [ ]:
rddReduced

In [ ]:
rddReduced = df.rdd.map(lambda a: (a.country_destination, a.day)).reduceByKey(lambda x,y : x + y).collectAsMap()

In [ ]:
rddReduced

In [ ]:
rddReduced = df.rdd.map(lambda a: (a.country_origin, a.country_destination)).reduceByKey(lambda x,y : x + y).collectAsMap()

In [ ]:
rddReduced

In [ ]:
rddReduced = df.rdd.map(lambda a: (a.lastseen, a.day)).reduceByKey(lambda x,y : x + y).collectAsMap()

In [ ]:
rddReduced